<script>
  import { onMount, tick } from 'svelte';
  import { isBefore, differenceInDays, differenceInHours } from 'date-fns';
  import flatpickr from 'flatpickr';
  import 'flatpickr/dist/flatpickr.min.css';

  import Button from '../../components/ui/Button.svelte';
  import Canvas from '../../components/Canvas.svelte';
  import Heading from '../../components/ui/Heading.svelte';
  import Loading from '../../components/Loading.svelte';
  import WindTurbineSelectMenu from '../../components/windturbines/SelectMenu.svelte';
  import SelectMenu from '../../components/ui/SelectMenu.svelte';

  import { initDataAnalysisChart } from '../../charts.js';
  import { notify } from '../../stores';
  import { getWindturbines } from '../../services.js';
  import { api, formatDate, dateDistance, handleError } from '../../utils.js';

  export let apiUrl;
  export let axisOptions;
  export let rangeType = 'days';

  let selected = null;
  let loading = false;
  let chart = null;
  let hidden = true;

  let yAxisOptions = axisOptions.slice(1);
  let y2AxisOptions = axisOptions.slice(1);

  let chartOptions = [
    { title: 'Line', key: 'line' },
    { title: 'Bar', key: 'bar' },
    { title: 'Scatter', key: 'scatter' },
  ];

  let xAxis = axisOptions[0];
  let yAxis = yAxisOptions[0];
  let yChartType = chartOptions[0];
  let y2Axis = null;
  let y2ChartType = chartOptions[0];
  let startDate = null;
  let endDate = null;

  async function getAnalysisDataAndInitChart() {
    loading = true;
    hidden = false;

    try {
      const postData = {
        id: selected.id,
        x_axis: xAxis.key,
        y_axis: yAxis.key,
        y2_axis: y2Axis ? y2Axis.key : '',
        start_date: startDate,
        end_date: endDate,
      };

      const response = await api.post(apiUrl, postData);

      const graphData = response.data.raw_data;
      const options = {
        xAxis: xAxis,
        yAxis: yAxis,
        y2Axis: y2Axis,
        yChartType: yChartType.key,
        y2ChartType: y2ChartType.key,
      };

      // Destroy the chart if it already exists and
      // initialize the chart with the new data
      chart && chart.destroy();
      chart = initDataAnalysisChart(graphData, options);
    } catch (error) {
      handleError(error);
    } finally {
      loading = false;
    }
  }

  function isFormValid() {
    if (!startDate) {
      notify('Please pick a start date.', 'error');
      return false;
    }

    if (!endDate) {
      notify('Please pick an end date.', 'error');
      return false;
    }

    const s = Date.parse(startDate);
    const e = Date.parse(endDate);

    if (isBefore(e, s)) {
      notify('Start date should be before end date.', 'error');
      return false;
    }

    if (rangeType == 'days' && differenceInDays(e, s) > 7) {
      notify(`Please keep the date range under 7 days.`, 'error');
      return false;
    }

    if (rangeType == 'hours' && differenceInHours(e, s) > 12) {
      notify(`Please keep the date range under 12 hours.`, 'error');
      return false;
    }

    return true;
  }

  function handleSubmit() {
    if (isFormValid()) {
      getAnalysisDataAndInitChart();
    }
  }

  let startDateFlatpickr = null;
  let endDateFlatpickr = null;

  async function selectedChange() {
    await tick();

    const options = {
      enableTime: true,
      altInput: true,
      altInputClass: '',
      altFormat: 'j M Y (H:i)',
      dateFormat: 'Y-m-d H:i',
      minDate: selected.meas_start,
      maxDate: selected.meas_end,
    };

    startDateFlatpickr = flatpickr('#start-date', options);
    endDateFlatpickr = flatpickr('#end-date', options);
  }

  onMount(() => {
    return () => {
      chart && chart.destroy();
      startDateFlatpickr && startDateFlatpickr.destroy();
      endDateFlatpickr && endDateFlatpickr.destroy();
    };
  });
</script>

{#await getWindturbines()}
  <Loading />
{:then windturbines}
  <div class="md:max-w-xl md:mx-auto">
    <Heading title="Small wind turbine" />
    <form on:submit|preventDefault={handleSubmit}>
      <div class="grid grid-cols-6 gap-4">
        <div class="col-span-6">
          <WindTurbineSelectMenu
            bind:selected
            {windturbines}
            on:selectedChange={selectedChange}
          />
        </div>

        {#if selected}
          <div class="col-span-6 px-4 pb-4">
            <p class="mt-1 text-sm text-gray-600">
              Collected data for
              <strong>
                {dateDistance(selected.meas_start, selected.meas_end)}
              </strong>
            </p>
            <p class="mt-1 text-sm text-gray-600">
              From <strong>{formatDate(selected.meas_start)}</strong>
              Until <strong>{formatDate(selected.meas_end)}</strong>
            </p>
          </div>
        {/if}

        <!-- Date time range inputs -->
        <div class="col-span-3">
          <label for="start-date">
            <span class="text-sm text-gray-600 px-1 select-none">Start</span>
          </label>
          <input
            id="start-date"
            class="mt-1 pl-3 py-2 w-full bg-white border border-gray-300 rounded-md shadow-sm text-left cursor-pointer focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
            placeholder="Select start date..."
            type="text"
            readonly
            bind:value={startDate}
          />
        </div>
        <div class="col-span-3">
          <label for="end-date">
            <span class="text-sm text-gray-600 px-1 select-none">End</span>
          </label>
          <input
            id="end-date"
            class="mt-1 pl-3 py-2 w-full bg-white border border-gray-300 rounded-md shadow-sm text-left cursor-pointer focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
            placeholder="Select end date..."
            type="text"
            readonly
            bind:value={endDate}
          />
        </div>

        <!-- X axis options -->
        <div class="col-span-3">
          <SelectMenu bind:value={xAxis} title="X Axis" options={axisOptions} />
        </div>
        <div class="col-span-3" />

        <!-- Y1 axis options -->
        <div class="col-span-3">
          <SelectMenu
            bind:value={yAxis}
            title="Y1 Axis"
            options={yAxisOptions}
          />
        </div>
        <div class="col-span-3">
          <SelectMenu
            bind:value={yChartType}
            title="Y1 chart type"
            options={chartOptions}
          />
        </div>

        <!-- Y2 axis options -->
        <div class="col-span-3">
          <SelectMenu
            bind:value={y2Axis}
            title="Y2 Axis"
            options={y2AxisOptions}
            withDefault={true}
          />
        </div>
        <div class="col-span-3">
          <SelectMenu
            bind:value={y2ChartType}
            title="Y2 chart type"
            options={chartOptions}
          />
        </div>
      </div>

      <!-- Form submit button -->
      <Button {loading} disabled={!selected} />
    </form>
  </div>

  <Canvas width={'md:max-w-screen-2xl'} {hidden} {loading} />
{/await}
