<script>
  import Router from 'svelte-spa-router';

  import Footer from './components/Footer.svelte';
  import Navbar from './components/Navbar.svelte';
  import Notification from './components/Notification.svelte';
  import Sidebar from './components/Sidebar.svelte';
  import Tailwind from './components/ui/Tailwind.svelte';

  import routes from './routes';
  import { headerTitle } from './stores.js';

  let open = false;
</script>

<svelte:head>
  <title>{$headerTitle} | OpenWindLab</title>
</svelte:head>

<Tailwind />
<section class="min-h-screen bg-gray-100 overflow-x-hidden">
  <Sidebar bind:open />
  <Navbar bind:sidebar={open} />
  <main class="pt-24 pb-4 px-4">
    <Notification />
    <Router {routes} restoreScrollState={true} />
  </main>
  <Footer />
</section>
