<script>
  export let loading = false;
  export let disabled = true;
  export let buttonText = 'Fetch data';
</script>

<button
  class="btn mt-5 w-full uppercase bg-blue-400 border-blue-400 hover:bg-blue-500 focus:border-2 focus:border-blue-500"
  class:loading
  {disabled}
  type="submit"
>
  {buttonText}
</button>
