<script>
  export let title;
</script>

<h3 class="mt-10 text-xl text-center font-medium leading-6 uppercase">
  {title}
</h3>
<div class="mt-5 mb-14 max-w-xs block mx-auto" aria-hidden="true">
  <div class="border-t border-gray-200" />
</div>
