<script>
  export let color = 'black';
</script>

<svg
  class="fill-current text-{color}"
  viewBox="0 0 56 56"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <path
    d="M48.7,35.8L34,26c-0.2-1.7-1.1-3.2-2.3-4.2c2.6-3.4,3.7-6.8,3.2-9.9c-0.7-4.4-4.2-7.2-6.2-8.5c-0.6-0.4-1.5-0.4-2.1-0.1  c-0.7,0.4-1.1,1.1-1.1,1.8v15.8c-2.3,0.9-4,3.2-4,5.9c0,0.3,0,0.5,0,0.7c-5.4-0.3-9.5,0.8-12.1,3.4c-3.3,3.3-3.3,8-3,10.5  c0.1,0.8,0.6,1.4,1.3,1.7c0.3,0.1,0.5,0.2,0.8,0.2c0.5,0,0.9-0.2,1.3-0.5l13.7-11.2V52c0,0.6,0.4,1,1,1H31c0.6,0,1-0.4,1-1V33.2  c1.4,3.2,3.4,5.5,5.9,6.7c1.5,0.7,3,1,4.4,1c2.5,0,4.8-0.8,6.2-1.4c0.7-0.3,1.2-1,1.2-1.7C49.7,36.9,49.4,36.2,48.7,35.8z M27.5,5  c0.1,0,0.1,0,0.1,0c1.8,1.1,4.8,3.6,5.3,7.2c0.4,2.7-0.6,5.6-3,8.6c-0.7-0.3-1.4-0.4-2.2-0.4c-0.1,0-0.2,0-0.3,0L27.5,5z M27.7,22.4  c2.4,0,4.3,1.9,4.3,4.3S30.1,31,27.7,31s-4.3-1.9-4.3-4.3S25.4,22.4,27.7,22.4z M8.6,41.3c0,0-0.1,0-0.2-0.1  C8.2,39,8.2,35,10.8,32.3c1.9-1.9,4.9-2.9,8.9-2.9c0.8,0,1.5,0,2.4,0.1c0.1,0.2,0.2,0.3,0.3,0.5L8.6,41.3z M25.5,51V32.6  c0.7,0.3,1.4,0.4,2.2,0.4c0.8,0,1.5-0.1,2.2-0.4V51H25.5z M47.6,37.6c-1.9,0.8-5.7,2-9,0.5c-2.5-1.2-4.5-3.8-5.7-7.8  c0.4-0.6,0.7-1.2,0.9-2l13.8,9.1C47.6,37.4,47.7,37.5,47.6,37.6z"
  />
</svg>

<style>
  svg {
    enable-background: new 0 0 56 56;
  }
</style>
