<script>
  import { formatDate, formatDateSeconds } from '../../utils.js';

  export let rawData = [];
  export let tableConfig = [];

  function displayRawData(data, key) {
    if (key === 'meas_datetime') {
      return formatDate(data);
    } else if (key === 'meas_timestamp') {
      return formatDateSeconds(data);
    }
    return parseFloat(parseFloat(data).toFixed(2));
  }
</script>

{#if rawData.length}
  <div class="overflow-x-auto">
    <table class="table relative text-left shadow-xl w-full">
      <thead>
        <tr class="bg-gray-200">
          {#each tableConfig as cfg}
            <th class="text-xs p-2 align-middle whitespace-normal">
              {cfg.title}
            </th>
          {/each}
        </tr>
      </thead>
      <tbody>
        {#each rawData as data}
          <tr class="border-b border-b-gray-100 bg-white hover:bg-gray-300">
            {#each tableConfig as cfg}
              <td class="text-sm p-2 align-middle whitespace-nowrap">
                {displayRawData(data[cfg.key], cfg.key)}
              </td>
            {/each}
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
{:else}
  <p class="text-center text-gray-700 text-lg">
    No data found matching the specified criteria.
  </p>
{/if}

<style>
  table thead th:first-child {
    border-top-left-radius: 0.5rem;
  }

  table thead th:last-child {
    border-top-right-radius: 0.5rem;
  }
</style>
