<script>
  export let value = null;
  export let title;
  export let options;
  export let withDefault = false;

  $: menuTextColor = value ? 'text-black' : 'text-gray-500';
</script>

<label>
  <span class="text-sm text-gray-600 px-1 select-none">{title}</span>
  <select
    class="{menuTextColor} mt-1 pl-3 pr-10 py-2 w-full bg-white border border-gray-300 rounded-md shadow-sm text-left cursor-default focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
    bind:value
  >
    {#if withDefault}
      <option selected="selected" value={null}>Select value...</option>
    {/if}
    {#each options as opt}
      <option class="text-black" value={opt}>{opt.title}</option>
    {/each}
  </select>
</label>
