<script>
  import Heading from './ui/Heading.svelte';

  export let hidden = true;
  export let loading = false;
  export let width = '';
</script>

<div class="relative {width} md:mx-auto mt-20" class:hidden>
  <div
    class="flex flex-col items-center justify-center absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 mt-8 p-10 rounded-xl z-10 overflow-hidden bg-gray-300 opacity-50"
    class:hidden={!loading}
  >
    <div
      class="loader ease-linear animate-spin rounded-full border-4 border-t-4 border-t-blue-500 border-gray-300 h-12 w-12"
    />
    <h2 class="text-center mt-2 text-black text-base font-bold">
      Initializing graph...
    </h2>
  </div>
  <Heading title="Graph" />
  <canvas id="graph" />
</div>
