<footer
  class="grid grid-flow-row sm:grid-flow-col gap-x-4 gap-y-10 text-sm w-full place-items-start items-center mt-24 p-10 bg-blue-400 text-white"
>
  <div class="grid place-items-start items-center grid-flow-col gap-4">
    <img class="w-20" src="/static/img/ntua.png" alt="NTUA Logo" />
    <div>
      <p class="font-bold">National and Technical University of Athens</p>
      <p>
        Department of Electrical Engineering | Electrical Systems Laboratory
      </p>
    </div>
  </div>
  <div class="md:place-self-center md:justify-self-end">
    <p>
      Copyright © {new Date().getFullYear()} - RurERG, SmartRUE, NTUA
    </p>
    <p>GNU General Public License v3.0</p>
    <p>
      <a
        href="https://gitlab.com/rurerg/openwindlab"
        target="_blank"
        rel="noreferrer"
        class="group"
      >
        <div class="inline group-hover:border-b-2 group-hover:border-b-white">
          Source code at GitLab
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 380 380"
          class="inline-block w-10"
        >
          <g id="LOGO">
            <path
              class="fill-white"
              d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"
            />
          </g>
        </svg>
      </a>
    </p>
  </div>
</footer>
