<script>
  import Logo from './ui/Logo.svelte';

  import { headerTitle } from '../stores.js';

  export let sidebar = false;
</script>

<nav
  class="flex fixed w-full z-20 items-center p-2 mb-2 min-h-16 shadow-lg bg-blue-400"
>
  <div class="flex-none">
    <button
      class="btn bg-transparent border-transparent border text-white hover:bg-gray-500 hover:bg-opacity-20 hover:border-opacity-0 focus:border-2 focus:border-white"
      on:click={() => (sidebar = !sidebar)}
    >
      <span class="sr-only">Menu</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-6 h-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
  <div class="flex-1 ml-2 text-white">
    <h1 class="text-lg font-bold">{$headerTitle}</h1>
  </div>
  <div class="flex-none text-white">
    <a
      href="#/"
      class="btn bg-transparent border-transparent border text-white hover:bg-gray-500 hover:bg-opacity-20 hover:border-opacity-0 focus:border-2 focus:border-white"
    >
      <div class="shrink-0 h-10 w-10">
        <Logo color="white" />
      </div>
      <span class="hidden sm:inline text-xl">OpenWindLab</span>
    </a>
  </div>
</nav>
