<script>
  import { fade } from 'svelte/transition';
  import { notification } from '../stores.js';
</script>

{#if $notification}
  <figure
    class="flex fixed z-20 right-0 mr-5 w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-md"
    transition:fade
  >
    <div class="flex items-center justify-center w-12 {$notification.type}">
      <svg
        class="w-6 h-6 text-white fill-current"
        viewBox="0 0 40 40"
        xmlns="http://www.w3.org/2000/svg"
      >
        {#if $notification.type === 'error'}
          <path
            d="M20 3.36667C10.8167 3.36667 3.3667 10.8167 3.3667 20C3.3667 29.1833 10.8167 36.6333 20 36.6333C29.1834 36.6333 36.6334 29.1833 36.6334 20C36.6334 10.8167 29.1834 3.36667 20 3.36667ZM19.1334 33.3333V22.9H13.3334L21.6667 6.66667V17.1H27.25L19.1334 33.3333Z"
          />
        {:else if $notification.type === 'info'}
          <path
            d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z"
          />
        {:else}
          <path
            d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"
          />
        {/if}
      </svg>
    </div>
    <div class="flex-1 px-4 py-2 mx-1">
      <span class="font-semibold capitalize">{$notification.type}</span>
      <p class="text-base text-black">{$notification.message}</p>
    </div>
    <div class="flex-none">
      <button
        class="p-1 mt-4 mr-2 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-1"
        on:click={() => notification.set(null)}
      >
        <svg
          class="w-5 h-5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 18L18 6M6 6L18 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </figure>
{/if}

<style>
  .success {
    @apply bg-green-500;
  }

  .info {
    @apply bg-blue-500;
  }

  .error {
    @apply bg-red-500;
  }
</style>
