<script>
  import { createEventDispatcher } from 'svelte';

  export let pagination = {
    page: 1,
    pages: 1,
    per_page: 100,
    total: 100,
  };
  export let paginationVisible = true;

  const dispatch = createEventDispatcher();

  function pageChange(newPage) {
    // HACK: The last check is there to make the Processed seconds dataset work because the pagination is custom
    // if the total results is equally devided by 100, this will fail. Let's have faith that this never happens :D
    if (
      newPage <= 0 ||
      newPage > pagination.pages ||
      pagination.per_page < 100
    ) {
      return;
    }
    dispatch('pageChange', { page: newPage });
  }
</script>

<div class="mx-auto mt-8 p-3 text-center">
  <div class="mb-5 max-w-xs block mx-auto" aria-hidden="true">
    <div class="border-t border-gray-200" />
  </div>
  {#if paginationVisible}
    <p class="mb-2 text-sm text-gray-700">
      Showing
      <span class="font-bold">{pagination.per_page}</span>
      results out of
      <span class="font-bold">{pagination.total}</span>
      total.
    </p>
  {/if}
  <nav
    class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
    aria-label="Pagination"
  >
    <button
      type="button"
      disabled={pagination.page == 1}
      class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
      on:click|stopPropagation={() => pageChange(pagination.page - 1)}
    >
      <span class="sr-only">Previous</span>
      <!-- Heroicon name: solid/chevron-left -->
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <button
      aria-current="page"
      disabled
      class="z-10 border-gray-300 bg-white text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"
    >
      {pagination.page}
    </button>
    <button
      type="button"
      disabled={pagination.page == pagination.pages}
      class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
      on:click|stopPropagation={() => pageChange(pagination.page + 1)}
    >
      <span class="sr-only">Next</span>
      <!-- Heroicon name: solid/chevron-right -->
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </nav>
</div>
