<script>
  import active from 'svelte-spa-router/active';
  import { fade } from 'svelte/transition';

  export let open = false;

  function closeSidebar() {
    open = false;
  }

  $: trans = open ? 'translate-x-0' : '-translate-x-full';
</script>

<!-- Sidebar Backdrop -->
{#if open}
  <div
    class="fixed inset-0 z-30 w-screen h-screen bg-black bg-opacity-25"
    transition:fade
    tabindex="0"
    on:click={closeSidebar}
  />
{/if}

<aside
  id="menu"
  class="{trans} fixed top-0 left-0 z-40 h-full w-80 pb-10 overflow-x-hidden overflow-y-auto transition origin-left transform text-white bg-blue-400"
>
  <nav aria-label="Main Navigation">
    <ul class="flex flex-col overflow-hidden mt-6">
      <li class="flex flex-col items-stretch">
        <a
          href="#/"
          class="menu-link flex items-center"
          use:active
          on:click={closeSidebar}
        >
          <!-- Heroicon name: outline/home -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            />
          </svg>
          Home
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/about/"
          class="menu-link flex items-center"
          use:active
          on:click={closeSidebar}
        >
          <!-- Heroicon name: outline/user-group -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          About
        </a>
      </li>

      <li class="mb-4 mt-6">
        <p class="pb-2 ml-2 w-full border-b-2 border-blue-500 text-blue-600">
          Standard Graphs
        </p>
      </li>
      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/power-curve/"
          class="menu-link"
          use:active={'/graphs/power-curve/*'}
          on:click={closeSidebar}
        >
          Power Curve
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/power-coefficient/"
          class="menu-link"
          use:active={'/graphs/power-coefficient/*'}
          on:click={closeSidebar}
        >
          Power Coefficient
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/anual-energy-production/"
          class="menu-link"
          use:active={'/graphs/anual-energy-production/*'}
          on:click={closeSidebar}
        >
          Anual Energy Production
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/tip-speed-ratio/"
          class="menu-link"
          use:active={'/graphs/tip-speed-ratio/*'}
          on:click={closeSidebar}
        >
          Tip Speed Ratio
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/aerodynamic-coefficient/"
          class="menu-link"
          use:active={'/graphs/aerodynamic-coefficient/*'}
          on:click={closeSidebar}
        >
          Aerodynamic Coefficient
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/aerodynamic-coefficient-per-bin/"
          class="menu-link"
          use:active={'/graphs/aerodynamic-coefficient-per-bin/*'}
          on:click={closeSidebar}
        >
          Aerodynamic Coefficient (Wind Speed Bin)
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/furling-angle/"
          class="menu-link"
          use:active={'/graphs/furling-angle/*'}
          on:click={closeSidebar}
        >
          Furling Angle
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/rotor-yaw/"
          class="menu-link"
          use:active={'/graphs/rotor-yaw/*'}
          on:click={closeSidebar}
        >
          Rotor Yaw
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/ac-voltage/"
          class="menu-link"
          use:active={'/graphs/ac-voltage/*'}
          on:click={closeSidebar}
        >
          AC Voltage (at rectifier)
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/stator-current/"
          class="menu-link"
          use:active={'/graphs/stator-current/*'}
          on:click={closeSidebar}
        >
          Stator Current
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/stator-temperature/"
          class="menu-link"
          use:active={'/graphs/stator-temperature/*'}
          on:click={closeSidebar}
        >
          Stator Temperature
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/ambient-temperature/"
          class="menu-link"
          use:active={'/graphs/ambient-temperature/*'}
          on:click={closeSidebar}
        >
          Ambient Temperature
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/relative-humidity/"
          class="menu-link"
          use:active={'/graphs/relative-humidity/*'}
          on:click={closeSidebar}
        >
          Relative Humidity
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/barometric-pressure/"
          class="menu-link"
          use:active={'/graphs/barometric-pressure/*'}
          on:click={closeSidebar}
        >
          Barometric Pressure
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/air-density/"
          class="menu-link"
          use:active={'/graphs/air-density/*'}
          on:click={closeSidebar}
        >
          Air Density
        </a>
      </li>

      <li class="mb-4 mt-6">
        <p class="pb-2 ml-2 w-full border-b-2 border-blue-500 text-blue-600">
          Comparing
        </p>
      </li>
      <li class="flex flex-col items-stretch">
        <a
          href="#/graphs/curve-comparison/"
          class="menu-link"
          use:active={'/graphs/curve-comparison/*'}
          on:click={closeSidebar}
        >
          Curve Comparison
        </a>
      </li>

      <li class="mb-4 mt-6">
        <p class="pb-2 ml-2 w-full border-b-2 border-blue-500 text-blue-600">
          Data Analysis
        </p>
      </li>
      <li class="flex flex-col items-stretch">
        <a
          href="#/data-analysis/per-second/"
          class="menu-link"
          use:active
          on:click={closeSidebar}
        >
          Per Second
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/data-analysis/per-minute/"
          class="menu-link"
          use:active
          on:click={closeSidebar}
        >
          Per Minute
        </a>
      </li>

      <li class="flex flex-col items-stretch">
        <a
          href="#/data-analysis/query/"
          class="menu-link"
          use:active
          on:click={closeSidebar}
        >
          Data Query
        </a>
      </li>
    </ul>
  </nav>
</aside>

<style>
  .menu-link {
    @apply py-2 px-5 text-sm font-semibold text-white hover:text-gray-800 hover:bg-gray-100 items-center transition-colors duration-200 justify-start;
  }

  .menu-link.active {
    @apply text-gray-800 bg-gray-100;
  }
</style>
