<script>
  import Loading from '../../components/Loading.svelte';

  import { headerTitle } from '../../stores.js';
  import { api, handleError } from '../../utils.js';

  headerTitle.set('Wind Turbine');

  export let params = {};

  let windturbine;

  async function getWindturbine() {
    try {
      const response = await api.get(`windturbines/${params.id}`);
      windturbine = response.data;
    } catch (error) {
      handleError(error);
    }
  }
</script>

{#await getWindturbine()}
  <Loading />
{:then}
  <div class="max-w-3xl md:mx-auto p-5 md:col-span-2">
    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-6">
        <label for="name" class="block text-sm font-medium text-gray-700">
          Name
        </label>
        <input
          type="text"
          name="name"
          id="name"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.name}
        />
      </div>

      <div class="col-span-6">
        <label
          for="description"
          class="block text-sm font-medium text-gray-700"
        >
          Description
        </label>
        <input
          type="text"
          name="description"
          id="description"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.description}
        />
      </div>

      <div class="col-span-4">
        <label for="location" class="block text-sm font-medium text-gray-700">
          Location
        </label>
        <input
          type="text"
          name="location"
          id="location"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.location}
        />
      </div>

      <div class="col-span-3">
        <label for="meas_start" class="block text-sm font-medium text-gray-700">
          Measurement Start
        </label>
        <input
          type="text"
          name="meas_start"
          id="meas_start"
          autocomplete="address-level2"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.meas_start}
        />
      </div>

      <div class="col-span-3">
        <label for="meas_end" class="block text-sm font-medium text-gray-700">
          Measurement End
        </label>
        <input
          type="text"
          name="meas_end"
          id="meas_end"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.meas_end}
        />
      </div>

      <div class="col-span-3">
        <label for="furling_a" class="block text-sm font-medium text-gray-700">
          Furling A
        </label>
        <input
          type="text"
          name="furling_a"
          id="furling_a"
          autocomplete="address-level2"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.furling_a}
        />
      </div>

      <div class="col-span-3">
        <label for="furling_b" class="block text-sm font-medium text-gray-700">
          Furling B
        </label>
        <input
          type="text"
          name="furling_b"
          id="furling_b"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.furling_b}
        />
      </div>

      <div class="col-span-3">
        <label for="yaw_a" class="block text-sm font-medium text-gray-700">
          Yaw A
        </label>
        <input
          type="text"
          name="yaw_a"
          id="yaw_a"
          autocomplete="address-level2"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.yaw_a}
        />
      </div>

      <div class="col-span-3">
        <label for="yaw_b" class="block text-sm font-medium text-gray-700">
          Yaw B
        </label>
        <input
          type="text"
          name="yaw_b"
          id="yaw_b"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.yaw_b}
        />
      </div>

      <div class="col-span-3">
        <label for="torque_a" class="block text-sm font-medium text-gray-700">
          Torque A
        </label>
        <input
          type="text"
          name="torque_a"
          id="torque_a"
          autocomplete="address-level2"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.torque_a}
        />
      </div>

      <div class="col-span-3">
        <label for="torque_b" class="block text-sm font-medium text-gray-700">
          Torque B
        </label>
        <input
          type="text"
          name="torque_b"
          id="torque_b"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.torque_b}
        />
      </div>

      <div class="col-span-3 sm:col-span-2">
        <label for="resistance" class="block text-sm font-medium text-gray-700">
          Resistance
        </label>
        <input
          type="text"
          name="resistance"
          id="resistance"
          autocomplete="address-level2"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.resistance}
        />
      </div>

      <div class="col-span-3 sm:col-span-2">
        <label for="radius" class="block text-sm font-medium text-gray-700">
          Rotor radius
        </label>
        <input
          type="text"
          name="radius"
          id="radius"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.radius}
        />
      </div>

      <div class="col-span-3 sm:col-span-2">
        <label
          for="zero_current_margin"
          class="block text-sm font-medium text-gray-700"
        >
          Zero current margin
        </label>
        <input
          type="text"
          name="zero_current_margin"
          id="zero_current_margin"
          class="mt-1 focus:ring-blue-400 focus:border-blue-400 block w-full shadow-sm border-gray-300 rounded-md"
          bind:value={windturbine.zero_current_margin}
        />
      </div>
    </div>
  </div>
{/await}
