<div>
  <a
    class="btn btn-sm btn-light"
    href="https://gitlab.com/rurerg/openwindlab/blob/main/docs/{{ pagename }}{{ page_source_suffix }}"
    rel="nofollow"
  >
    <span class="btn-icon"><span class="fab fa-gitlab"></span></span>
    <span class="btn-text">{{ _('Edit on GitLab') }}</span>
  </a>
  {%- if show_source and has_source and sourcename %}
  <a
    class="btn btn-sm btn-light"
    href="{{ pathto('_sources/' + sourcename, true)|e }}"
    rel="nofollow"
  >
    <span class="btn-icon"><span class="fas fa-code"></span></span>
    <span class="btn-text">View source</span>
  </a>
  {%- endif %}
</div>
