<script>
  import { onMount } from 'svelte';
  import { replace } from 'svelte-spa-router';

  import Canvas from '../Canvas.svelte';
  import Heading from '../ui/Heading.svelte';
  import Loading from '../Loading.svelte';
  import RawDataTable from '../ui/RawDataTable.svelte';
  import Selected from '../windturbines/Selected.svelte';
  import SelectMenu from '../windturbines/SelectMenu.svelte';

  import { initStandardChart } from '../../charts.js';
  import { getWindturbines } from '../../services.js';
  import { api, handleError } from '../../utils.js';

  export let params = {};
  export let config = {};

  let hasComponentMounted = false;
  let selected = null;
  let chart = null;
  let hidden = true;
  let loading = false;
  let rawData = [];

  async function getGraphDataAndInitChart() {
    loading = true;
    hidden = false;

    try {
      // Fetch the windturbine and graph data
      const response = await api.get(
        `windturbines/${params.id}/${config.apiUrl}/`
      );

      // Initialize the selected windturbine and the raw data
      selected = response.data.windturbine;
      rawData = response.data.raw_data;

      // Initialize the chart with the new data
      chart && chart.destroy();
      chart = initStandardChart(selected.id, rawData, config);
    } catch (error) {
      handleError(error);
    } finally {
      loading = false;
    }
  }

  $: if (hasComponentMounted && params && params.id) {
    getGraphDataAndInitChart();
  }

  onMount(() => {
    hasComponentMounted = true;

    return () => chart && chart.destroy();
  });
</script>

{#await getWindturbines()}
  <Loading />
{:then windturbines}
  <div class="md:max-w-xl md:mx-auto">
    <Heading title="Small wind turbine" />
    <SelectMenu
      bind:selected
      {windturbines}
      on:selectedChange={() => replace(config.route + selected.id)}
    />
    <!-- Selected wind turbine -->
    <Selected {selected} />
  </div>

  <Canvas width={'md:max-w-6xl'} {hidden} {loading} />

  {#if config && config.table && config.table.length}
    <div
      class="md:max-w-5xl md:mx-auto mt-20 shadow-sm rounded-lg"
      class:hidden
    >
      <Heading title="Raw data" />
      <RawDataTable {rawData} tableConfig={config.table} />
    </div>
  {/if}
{/await}
