<script>
  import Heading from '../components/ui/Heading.svelte';
  import { headerTitle } from '../stores.js';

  headerTitle.set('About');
</script>

<article>
  <Heading title="About this tool" />
  <p class="mx-auto py-4 max-w-lg text-base text-justify text-gray-700">
    OpenWindLab is an open source tool developed by the Rural Electrification
    Research Group, that calculates the performance characteristics of small
    wind turbines based on electrical and meteorological measurements, according
    to IEC 61400-12-1. The power curve, the power coefficient and the annual
    energy production are calculated and presented. The data can be displayed in
    per second raw values or per minute averages. All data can be plotted for
    different combinations of variables and custom made queries can be made to
    the data base with regard to all data variables.
  </p>
</article>

<article class="mt-20">
  <header class="text-center mb-4">
    <a href="https://rurerg.net/" target="_blank" rel="noreferrer">
      <img
        class="mx-auto object-cover max-w-md"
        src="/static/img/rurerg.png"
        alt="Rural ERG logo"
      />
    </a>
  </header>
  <p class="mx-auto py-4 max-w-lg text-base text-justify text-gray-700">
    The need for electrical energy supply in off-grid or temporarily off-grid
    areas of the developing world is becoming increasingly significant.
    Different sizes of applications are implemented, starting at the micro scale
    level of households and small communities, but also scaling up to more
    energy intensive applications such as small business, workshops or even
    small factories. An overall improvement of the living conditions of local
    communities is achieved by providing energy access and also by strengthening
    local economies and creating income sources.
    <br /><br />
    The Rural Electrification Research Group is part of the Smart RUE (Smart grids
    Research Unit of the Electrical and Computer Engineering School) of the National
    Technical University of Athens (NTUA) and a member organisation of the Wind Empowerment
    association and the Hydro Empowerment network. The group conducts interdisciplinary
    research with the aim of providing open source technical solutions on small wind
    and pico-hydro systems for rural energy access. At the same time, the group is
    involved in several implementation projects around the world in the themes of
    rural electrification, university education and networking with practitioner
    networks.
  </p>
</article>

<article class="mt-20">
  <header class="text-center mb-4">
    <a href="https://www.smartrue.gr/en/" target="_blank" rel="noreferrer">
      <img
        class="mx-auto object-cover max-w-md"
        src="/static/img/smartrue.png"
        alt="Smart RUE logo"
      />
    </a>
  </header>
  <p class="mx-auto py-4 max-w-lg text-base text-justify text-gray-700">
    Smart RUE (Smart grids Research Unit of the Electrical and Computer
    Engineering School) is one of the Research Groups of the Institute of
    Communication and Computer Systems (ICCS). It belongs to the Electric Energy
    Systems Laboratory (EESL) of the School of Electrical and Computer
    Engineering of the National Technical University of Athens. It was founded
    by Professor Nikos Hatziargyriou and operates under his supervision. It is
    composed of Professors, post-doctoral scientists, postgraduate students and
    highly specialized researchers and collaborators. It is technically and
    administratively supported by the personnel of EESL.
    <br /><br />
    The main activities of Smart RUE focus in research and technology development
    in the area of Smart Grids. Smart Grids have been defined by the European Technology
    Platform of Smart Grids as “electricity networks that can intelligently integrate
    the actions of all users connected to them – generators, consumers and those
    that do both – in order to efficiently deliver sustainable, economic and secure
    electricity supplies”. According to this definition, the main Smart Rue activities
    deal with planning and operation of modern power systems characterized by high
    penetration of renewable energy sources, distributed generation and flexible
    loads. For the efficient solution of related problems advanced control and ICT
    technologies are employed.
    <br /><br />
    Smart RUE has coordinated and participated in a large number of European and
    national R&D projects and studies. It has organized several international Conferences,
    Seminars and workshops and it has published numerous papers in international
    journals and conference proceedings. Its members are active in several EU and
    international organizations. It maintains excellent connections with many Universities,
    Research Centers, Utilities and Power Industries active in the area of Smart
    Grids both at national and international level.
  </p>
</article>
