<script>
  import { onMount } from 'svelte';

  import Button from '../components/ui/Button.svelte';
  import Canvas from '../components/Canvas.svelte';
  import Heading from '../components/ui/Heading.svelte';
  import Loading from '../components/Loading.svelte';

  import { initCurveComparisonChart } from '../charts.js';
  import {
    AC_VOLTAGE_VALUES,
    AERODYNAMIC_COEF_VALUES,
    AIR_DENSITY_VALUES,
    AMBIENT_TEMPERATURE_VALUES,
    ANUAL_ENERGY_VALUES,
    BAROMETRIC_PRESSURE_VALUES,
    FURLING_ANGLE_VALUES,
    POWER_COEF_VALUES,
    POWER_CURVE_VALUES,
    RELATIVE_HUMIDITY_VALUES,
    ROTOR_YAW_VALUES,
    STATOR_CURRENT_VALUES,
    STATOR_TEMPERATURE_VALUES,
    TIP_SPEED_RATIO_VALUES,
  } from '../constants.js';
  import { getWindturbines } from '../services.js';
  import { headerTitle } from '../stores.js';
  import { api, handleError } from '../utils.js';

  headerTitle.set('Curve Comparison');

  let loading = false;
  let disabled = true;
  let hidden = true;
  let chart = null;

  let selectedWindturbineIds = [];
  let selectedGraph = null;
  let graphOptions = [
    { apiUrl: 'power-curve', ...POWER_CURVE_VALUES },
    { apiUrl: 'power-coef', ...POWER_COEF_VALUES },
    { apiUrl: 'anual-energy', ...ANUAL_ENERGY_VALUES },
    { apiUrl: 'tip-speed-ratio', ...TIP_SPEED_RATIO_VALUES },
    { apiUrl: 'aerodynamic-coef', ...AERODYNAMIC_COEF_VALUES },
    { apiUrl: 'furling-angle', ...FURLING_ANGLE_VALUES },
    { apiUrl: 'rotor-yaw', ...ROTOR_YAW_VALUES },
    { apiUrl: 'ac-voltage', ...AC_VOLTAGE_VALUES },
    { apiUrl: 'stator-current', ...STATOR_CURRENT_VALUES },
    { apiUrl: 'stator-temperature', ...STATOR_TEMPERATURE_VALUES },
    { apiUrl: 'ambient-temperature', ...AMBIENT_TEMPERATURE_VALUES },
    { apiUrl: 'relative-humidity', ...RELATIVE_HUMIDITY_VALUES },
    { apiUrl: 'barometric-pressure', ...BAROMETRIC_PRESSURE_VALUES },
    { apiUrl: 'air-density', ...AIR_DENSITY_VALUES },
  ];

  async function getCurveComparisonDataAndInitChart() {
    loading = true;
    hidden = false;

    try {
      // Fetch the graph data for every selected windturbine
      // for the selected standard graph
      const response = await api.post(
        `/curve-comparison/${selectedGraph.apiUrl}/`,
        {
          ids: selectedWindturbineIds,
        }
      );

      // Destroy the chart if it already exists and
      // initialize the chart with the new datasets
      chart && chart.destroy();
      chart = initCurveComparisonChart(response.data, selectedGraph);
    } catch (error) {
      handleError(error);
    } finally {
      loading = false;
    }
  }

  function handleSubmit() {
    getCurveComparisonDataAndInitChart();
  }

  $: disabled = !selectedGraph || selectedWindturbineIds.length == 0;
  $: menuTextColor = selectedGraph ? 'text-black' : 'text-gray-500';

  onMount(() => {
    return () => chart && chart.destroy();
  });
</script>

{#await getWindturbines()}
  <Loading />
{:then windturbines}
  <div class="md:max-w-xl md:mx-auto">
    <Heading title="Small wind turbine" />
    <form on:submit|preventDefault={handleSubmit}>
      <label>
        <span class="text-sm text-gray-600 px-1 select-none"
          >Standard graph</span
        >
        <select
          class="{menuTextColor} pl-3 pr-10 py-2 mt-1 w-full bg-white border border-gray-300 rounded-md shadow-sm text-left cursor-default focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
          bind:value={selectedGraph}
        >
          <option disabled="disabled" selected="selected" value={null}>
            Select standard graph...
          </option>
          {#each graphOptions as graph}
            <option class="text-black" value={graph}>{graph.name}</option>
          {/each}
        </select>
      </label>

      <p class="text-sm text-gray-600 mt-7 px-1 select-none">Wind turbines</p>
      {#if !windturbines}
        <p class="ml-2 mt-1">No available wind turbines.</p>
      {:else}
        <div
          class="flex flex-col mt-1 py-2 max-h-48 overflow-y-auto bg-white border border-gray-300 rounded-md shadow-sm"
        >
          {#each windturbines as windturbine}
            <label
              class="flex px-3 py-2 items-center justify-between select-none cursor-pointer hover:bg-gray-100"
            >
              <span class="text-sm text-gray-800">{windturbine.name}</span>
              <input
                type="checkbox"
                value={windturbine.id}
                class="h-5 w-5 text-blue-400 focus:ring-blue-400 border-gray-300 rounded"
                bind:group={selectedWindturbineIds}
              />
            </label>
          {/each}
        </div>
      {/if}

      <!-- Form submit button -->
      <Button {loading} {disabled} />
    </form>
  </div>

  <Canvas width={'md:max-w-7xl'} {hidden} {loading} />
{/await}
