<script>
  import { fade } from 'svelte/transition';

  import Heading from '../components/ui/Heading.svelte';
  import Loading from '../components/Loading.svelte';
  import Table from '../components/windturbines/Table.svelte';

  import { getWindturbines } from '../services.js';
  import { headerTitle } from '../stores.js';

  headerTitle.set('Dashboard');
</script>

{#await getWindturbines()}
  <Loading />
{:then windturbines}
  <div in:fade={{ duration: 500 }}>
    <Heading title="Small wind turbines" />
    <Table {windturbines} />
  </div>
{/await}
