<script>
  import { fade } from 'svelte/transition';
  import { headerTitle } from '../stores.js';

  headerTitle.set('Not Found');
</script>

<section class="container px-4 py-24 mx-auto" in:fade={{ duration: 500 }}>
  <div class="w-full mx-auto text-center lg:w-2/3">
    <h1 class="mb-4 text-6xl font-thin text-gray-900">404</h1>
    <p class="mb-3 text-xl font-bold text-gray-900 md:text-2xl">
      Oh no! We couldn’t find the page you were looking for.
    </p>
    <p class="mb-3 text-lg font-medium text-gray-700">
      Have questions? Head over to our
      <a
        href="https://rurerg.gitlab.io/openwindlab/"
        target="_blank"
        rel="noreferrer"
        class="underline"
      >
        product documentation
      </a>, or go back to the
      <a href="#/" class="underline">homepage</a>.
    </p>
  </div>
</section>
