<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { AC_VOLTAGE_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('AC Voltage (at rectifier)');

  export let params = {};

  const config = {
    route: '/graphs/ac-voltage/',
    apiUrl: 'power-curve',
    ...AC_VOLTAGE_VALUES,
  };
</script>

<Layout {config} {params} />
