<script>
  import { onMount } from 'svelte';

  import Button from '../../components/ui/Button.svelte';
  import Canvas from '../../components/Canvas.svelte';
  import Heading from '../../components/ui/Heading.svelte';
  import Loading from '../../components/Loading.svelte';
  import Selected from '../../components/windturbines/Selected.svelte';
  import SelectMenu from '../../components/windturbines/SelectMenu.svelte';

  import { initStandardChart } from '../../charts.js';
  import { AERODYNAMIC_COEF_VALUES } from '../../constants.js';
  import { getWindturbines } from '../../services.js';
  import { headerTitle } from '../../stores.js';
  import { api, handleError } from '../../utils.js';

  headerTitle.set('Aerodynamic Coefficient Per Bin');

  const config = {
    route: '/graphs/aerodynamic-coefficient-per-bin/',
    apiUrl: 'lamda-bins',
    ...AERODYNAMIC_COEF_VALUES,
  };

  let selected = null;
  let chart = null;
  let hidden = true;
  let loading = false;
  let rawData = [];

  let binOptions = [];
  for (let i = 0.5; i <= 9; i += 0.5) {
    binOptions.push(i);
  }
  let bin = binOptions[0];

  async function getGraphDataAndInitChart() {
    loading = true;
    hidden = false;

    try {
      // Fetch the windturbine and graph data
      const response = await api.get(
        `windturbines/${selected.id}/lamda-bins/${bin.toFixed(1)}/`
      );

      // Initialize the selected windturbine and the raw data
      selected = response.data.windturbine;
      rawData = response.data.raw_data;

      // Initialize the chart with the new data
      chart && chart.destroy();
      chart = initStandardChart(selected.id, rawData, config);
    } catch (error) {
      handleError(error);
    } finally {
      loading = false;
    }
  }

  function handleSubmit() {
    getGraphDataAndInitChart();
  }

  onMount(() => {
    return () => chart && chart.destroy();
  });
</script>

{#await getWindturbines()}
  <Loading />
{:then windturbines}
  <div class="md:max-w-xl md:mx-auto">
    <Heading title="Small wind turbine" />
    <form on:submit|preventDefault={handleSubmit}>
      <div class="grid grid-cols-6 gap-4">
        <div class="sm:col-span-5 col-span-6">
          <SelectMenu bind:selected {windturbines} />
        </div>
        <div class="sm:col-span-1 col-span-3">
          <label>
            <span class="text-sm text-gray-600 px-1 select-none">Bin</span>
            <select
              class="pl-3 pr-10 py-2 mt-1 w-full bg-white border border-gray-300 rounded-md shadow-sm text-left cursor-default focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
              bind:value={bin}
            >
              {#each binOptions as opt}
                <option class="text-black" value={opt}>{opt}</option>
              {/each}
            </select>
          </label>
        </div>
      </div>
      <!-- Selected wind turbine -->
      <Selected {selected} />
      <!-- Form submit button -->
      <Button {loading} disabled={!selected} />
    </form>
  </div>

  <Canvas width={'md:max-w-6xl'} {hidden} {loading} />
{/await}
