<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { AERODYNAMIC_COEF_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Aerodynamic Coefficient');

  export let params = {};

  const config = {
    route: '/graphs/aerodynamic-coefficient/',
    apiUrl: 'lamda-bins',
    ...AERODYNAMIC_COEF_VALUES,
  };
</script>

<Layout {config} {params} />
