<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { AIR_DENSITY_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Air Density');

  export let params = {};

  const config = {
    route: '/graphs/air-density/',
    apiUrl: 'power-curve',
    ...AIR_DENSITY_VALUES,
  };
</script>

<Layout {config} {params} />
