<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { AMBIENT_TEMPERATURE_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Ambient Temperature');

  export let params = {};

  const config = {
    route: '/graphs/ambient-temperature/',
    apiUrl: 'power-curve',
    ...AMBIENT_TEMPERATURE_VALUES,
  };
</script>

<Layout {config} {params} />
