<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { ANUAL_ENERGY_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Anual Energy Production');

  export let params = {};

  const config = {
    route: '/graphs/anual-energy-production/',
    apiUrl: 'anual-energy',
    ...ANUAL_ENERGY_VALUES,
    table: [
      { title: 'Mean wind speed (m/s)', key: 'wind_speed' },
      { title: 'AEP (kWh)', key: 'aep' },
      { title: 'Uaep (kWh)', key: 'uaep' },
      { title: 'Percent (%)', key: 'percentage' },
    ],
  };
</script>

<Layout {config} {params} />
