<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { BAROMETRIC_PRESSURE_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Barometric Pressure');

  export let params = {};

  const config = {
    route: '/graphs/barometric-pressure/',
    apiUrl: 'power-curve',
    ...BAROMETRIC_PRESSURE_VALUES,
  };
</script>

<Layout {config} {params} />
