<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { FURLING_ANGLE_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Furling Angle');

  export let params = {};

  const config = {
    route: '/graphs/furling-angle/',
    apiUrl: 'power-curve',
    ...FURLING_ANGLE_VALUES,
  };
</script>

<Layout {config} {params} />
