<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { POWER_COEF_VALUES } from '../../constants';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Power Coefficient');

  export let params = {};

  const config = {
    route: '/graphs/power-coefficient/',
    apiUrl: 'power-curve',
    ...POWER_COEF_VALUES,
  };
</script>

<Layout {config} {params} />
