<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { POWER_CURVE_VALUES } from '../../constants';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Power Curve');

  export let params = {};

  const config = {
    route: '/graphs/power-curve/',
    apiUrl: 'power-curve',
    ...POWER_CURVE_VALUES,
  };
</script>

<Layout {config} {params} />
