<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { RELATIVE_HUMIDITY_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Relative Humidity');

  export let params = {};

  const config = {
    route: '/graphs/relative-humidity/',
    apiUrl: 'power-curve',
    ...RELATIVE_HUMIDITY_VALUES,
  };
</script>

<Layout {config} {params} />
