<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { ROTOR_YAW_VALUES } from '../../constants';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Rotor Yaw');

  export let params = {};

  const config = {
    route: '/graphs/rotor-yaw/',
    apiUrl: 'power-curve',
    ...ROTOR_YAW_VALUES,
  };
</script>

<Layout {config} {params} />
