<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { STATOR_CURRENT_VALUES } from '../../constants.js';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Stator Current');

  export let params = {};

  const config = {
    route: '/graphs/stator-current/',
    apiUrl: 'power-curve',
    ...STATOR_CURRENT_VALUES,
  };
</script>

<Layout {config} {params} />
