<script>
  import Layout from '../../components/graphs/Layout.svelte';
  import { TIP_SPEED_RATIO_VALUES } from '../../constants';
  import { headerTitle } from '../../stores.js';

  headerTitle.set('Tip Speed Ratio');

  export let params = {};

  const config = {
    route: '/graphs/tip-speed-ratio/',
    apiUrl: 'power-curve',
    ...TIP_SPEED_RATIO_VALUES,
  };
</script>

<Layout {config} {params} />
