<script>
  import { formatDate, dateDistance } from '../../utils.js';

  export let selected = null;
</script>

{#if selected}
  <div class="px-4 pt-4">
    <p class="mt-1 text-sm text-gray-600">
      {selected.description}
    </p>
    <p class="mt-1 text-sm text-gray-600">
      Location {selected.location}
    </p>
    <p class="mt-1 text-sm text-gray-600">
      Rotor radius {selected.radius || '-'}m
    </p>
    <p class="mt-1 text-sm text-gray-600">
      Collected data for
      <strong>
        {dateDistance(selected.meas_start, selected.meas_end)}
      </strong>
    </p>
    <p class="mt-1 text-sm text-gray-600">
      From <strong>{formatDate(selected.meas_start)}</strong>
      Until <strong>{formatDate(selected.meas_end)}</strong>
    </p>
  </div>
{/if}
