<script>
  import { createEventDispatcher } from 'svelte';
  import { slide } from 'svelte/transition';

  import Logo from '../ui/Logo.svelte';

  export let windturbines;
  export let selected = null;

  let isVisible = false;
  const dispatch = createEventDispatcher();

  function toggleSelectMenu() {
    isVisible = !isVisible;
  }

  function closeSelectMenu() {
    isVisible = false;
  }

  function isSelected(windturbine) {
    return selected && selected.id == windturbine.id;
  }

  function selectedChange(windturbine) {
    if (isSelected(windturbine)) {
      return;
    }
    selected = windturbine;
    dispatch('selectedChange');
  }

  $: menuTextColor = selected ? 'text-black' : 'text-gray-500';
</script>

<svelte:body on:click={closeSelectMenu} />

<div class="relative">
  <label>
    <span class="text-sm text-gray-600 px-1 select-none"
      >Selected wind turbine</span
    >
    <button
      type="button"
      class="relative w-full mt-1 bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-blue-400 focus:border-blue-400"
      on:click|stopPropagation={toggleSelectMenu}
    >
      <span class="flex items-center">
        <div class="shrink-0 h-6 w-6">
          <Logo />
        </div>
        <span class="{menuTextColor} ml-3 block truncate">
          {(selected && selected.name) || 'Select a wind turbine...'}
        </span>
      </span>
      <span
        class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none text-gray-400"
      >
        <!-- Heroicon name: solid/selector -->
        <svg
          class="h-5 w-5 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>
  </label>
  {#if isVisible}
    <ul
      class="absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
      tabindex="-1"
      transition:slide
    >
      {#if !windturbines}
        <li
          class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9 font-semibold"
        >
          <p>No available wind turbines.</p>
        </li>
      {:else}
        {#each windturbines as windturbine}
          <li
            class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9 group hover:text-white hover:bg-blue-400
          {isSelected(windturbine) ? 'font-semibold' : 'font-normal'}"
            on:click={selectedChange(windturbine)}
          >
            <div class="flex items-center">
              <span class="ml-3 block truncate">{windturbine.name}</span>
            </div>
            {#if isSelected(windturbine)}
              <span
                class="absolute inset-y-0 right-0 flex items-center pr-4 text-blue-400 group-hover:text-white"
              >
                <!-- Heroicon name: solid/check -->
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
            {/if}
          </li>
        {/each}
      {/if}
    </ul>
  {/if}
</div>
