<script>
  import Logo from '../ui/Logo.svelte';

  import { dateDistance } from '../../utils.js';

  export let windturbine;

  const href = `#/windturbines/${windturbine.id}/`;
</script>

<tr>
  <td class="p-6 text-left whitespace-nowrap">
    <div class="flex items-center">
      <div class="shrink-0 h-10 w-10 mr-4">
        <Logo />
      </div>
      <a {href} class="group">
        <div
          class="inline-block transition border-b group-hover:border-gray-900 text-sm font-medium text-gray-900"
        >
          {windturbine.name}
        </div>
        <div class="pt-1 text-sm text-gray-500 max-w-sm truncate">
          {windturbine.description}
        </div>
      </a>
    </div>
  </td>
  <td class="p-6 text-left text-sm text-gray-900 whitespace-nowrap">
    {windturbine.location}
  </td>
  <td class="p-6 text-left whitespace-nowrap">
    <div class="text-sm text-gray-500">
      {dateDistance(windturbine.meas_start, windturbine.meas_end)}
    </div>
  </td>
  <td class="text-center whitespace-nowrap">
    <a {href} class="text-blue-600">
      <!-- Heroicon name: solid/chevron-right -->
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
  </td>
</tr>
