<script>
  import TableRow from './TableRow.svelte';

  export let windturbines = [];
</script>

<div
  class="lg:max-w-4xl lg:m-auto shadow overflow-x-auto border-b border-gray-200 sm:rounded-lg"
>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Name
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Location
        </th>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          Data
        </th>
        <th scope="col" class="relative px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {#each windturbines as windturbine}
        <TableRow {windturbine} />
      {/each}
    </tbody>
  </table>
</div>
