<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Dashboard | OpenWindlab</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='build/bundle.css') }}"
    />
    <script>
      window.API_BASE_URL = '{{ api_base_url }}';
    </script>
    <script
      defer
      src="{{ url_for('static', filename='build/bundle.js') }}"
    ></script>
  </head>

  <body></body>
</html>
