<script>
  import Layout from '../../components/data_analysis/Layout.svelte';

  import { headerTitle } from '../../stores.js';

  headerTitle.set('Per Minute');

  const apiUrl = '/data-analysis/per-minute/';
  const rangeType = 'days';
  let axisOptions = [
    { title: 'Time', key: 'meas_datetime' },
    { title: 'Power (W)', key: 'avg_power' },
    { title: 'Mean AC Current (A)', key: 'avg_current' },
    { title: 'Mean AC Voltage (V)', key: 'avg_mean_voltage' },
    { title: 'Generator Torque (Nm)', key: 'torque' },
    { title: 'RPM', key: 'avg_rpm' },
    { title: 'Tip Speed Ratio (λ)', key: 'lamda' },
    { title: 'Furling Angle (deg)', key: 'avg_furling_angle' },
    { title: 'Yaw Angle (deg)', key: 'avg_yaw_angle' },
    { title: 'Stator Temperature (°C)', key: 'avg_stator_temp' },
    { title: 'Wind Speed (m/s)', key: 'avg_wind_speed' },
    { title: 'Wind Direction', key: 'avg_wind_direction' },
    { title: 'Ambient Temperature (°C)', key: 'avg_ambient_temp' },
    { title: 'Relative Humidity (%)', key: 'avg_humidity' },
    { title: 'Barometric Pressure (hPa)', key: 'avg_bar_pressure' },
    { title: 'Vapour Pressure (hPa)', key: 'avg_vapour_pressure' },
    { title: 'Air Density (kg/m³)', key: 'avg_air_density' },
  ];
</script>

<Layout {axisOptions} {apiUrl} {rangeType} />
