<script>
  import Layout from '../../components/data_analysis/Layout.svelte';

  import { headerTitle } from '../../stores.js';

  headerTitle.set('Per Second');

  const apiUrl = '/data-analysis/per-second/';
  const rangeType = 'hours';
  let axisOptions = [
    { title: 'Time', key: 'meas_timestamp' },
    { title: 'Power (W)', key: 'power_sec' },
    { title: 'Mean AC Current (A)', key: 'mean_current' },
    { title: 'Mean AC Voltage (V)', key: 'mean_voltage' },
    { title: 'RPM', key: 'rpm' },
    { title: 'Furling Ange (deg)', key: 'furling_angle' },
    { title: 'Yaw Angle (deg)', key: 'yaw_angle' },
    { title: 'Wind Speed (m/s)', key: 'wind_speed' },
    { title: 'Wind Direction', key: 'wind_direction' },
    { title: 'Wind Sector', key: 'wind_sector' },
    { title: 'Ambient Temperature (°C)', key: 'temperature' },
    { title: 'Relative Humidity (%)', key: 'humidity' },
    { title: 'Barometric Pressure (hPa)', key: 'bar_pressure' },
    { title: 'Vapour Pressure (hPa)', key: 'vapour_pressure' },
    { title: 'Air Density (kg/m³)', key: 'air_density' },
  ];
</script>

<Layout {axisOptions} {apiUrl} {rangeType} />
